
{% load i18n %}{% autoescape off %}
{% blocktrans %}Recibió este correo electrónico porque solicitó un restablecimiento de contraseña para su cuenta de usuario en{{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{fronted}}{{uid}}/{{token}}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}El equipo de {{ site_name }}{% endblocktrans %}

{% endautoescape %}